# Core functionality - changes here should be rare!
/src/app.py                   @BankyBluePrints
/src/backend/database.py      @BankyBluePrints
/src/backend/routers/auth.py  @BankyBluePrints

# The frontend will need refactored soon to be more object oriented.
/src/static/   @BankyBluePrints
